/*
COLORS

Nuetral01: #333333
Nuetral02: #606060;
Nuetral03: #929292
Nuetral04: #c7c7c7
Nuetral05: #DDDDDD
Nuetral06: #FFFFFF
Primary CTA: #73BA8E
Background: #293241
Background 20% lighter: #374859
Positive: Green;
Negative: Red;
*/

/* RESET */
* {
  color: #333333;
	font-family: 'Nunito Sans';
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* GLOBAL */
body {
	background-color: #F4F4F4;
	min-width: 320px;
}
.grid {
	display: none;
	height: 100%;
	position: fixed;
	left: 50%;
	margin-left: -740px;
	width: 1480px;
}
.grid::after {
  content: "";
  clear: both;
  display: table;
}
.column {
	float:left;
	height: 100%;
}
.column .block {
	background-color: rgba(100,0,0,0.25);
	margin:0 20px;
	width: 80px;
	height: 100%;
}
.column:first-child .block {
	margin-left: 40px;
}
.column:last-child .block {
	margin-right: 40px;
}
/*.span1 { width: 8.333334%; ; }
.span2 { width: 16.666667%; }
.span3 { width: 25%;}
.span4 { width: 33.333334;}
.span5 { width: 41.666667}
.span6 { width: 50%;}
.span7 { width: 58.333334;}
.span8 { width: 66.666667;}
.span9 {width: 75%;}
.span10 { width: 83.333334;}
.span11 {width:91.666667;}
.span12 {width: 100%;}*/


/* GLOBAL */
.content {
	margin: 0 auto;
	width: 960px;
}


.content::after {
  content: "";
  clear: both;
  display: table;
}
.content > * {
	margin-left: 20px;
	margin-right: 20px;
}
.wrapper {
	padding:0 20px;
}

/* HEADER */
header {
	height: 130px;
	position: fixed;
	left: 0;
	top: 0;
	transition: background-color 0.25s ease;
	width: 100%;
	z-index: 1;
}
header a.logo {
	background-color: #374859;
	background-image: url("../images/logo-light.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px 25px;
	border-radius: 100%;
	cursor: pointer;
	display: block;
	float: left;
	height: 50px;
	position: relative;
	top: 40px;
	left: 40px;
	transition: background-color 0.25s ease, top 0.25s ease, background-image 0.25s ease;
	width: 50px;
}
header a.logo:hover {
	background-color: #73BA8E;
}
/*@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
only screen and (min--moz-device-pixel-ratio: 1.3),
only screen and (-o-min-device-pixel-ratio: 1.3 / 1),
only screen and (min-resolution: 125dpi),
only screen and (min-resolution: 1.3dppx) {
	header a.logo { background-image: url("../images/logo-light@2x.svg"); }
}*/
header a.resume {
	background-image:	url("../images/icon-pdf-default.svg");
	background-size: 20px 25px;
	background-repeat: no-repeat;
	color: #55748A;
	cursor: pointer;
	display:block;
	float: right;
	font-size: 18px;
	font-weight: 700;
	height: 19px;
	padding: 2px 0 4px 30px;
	position: relative;
	top: 55px;
	right: 40px;
	/*text-transform: uppercase;*/
	transition: color 0.25s ease, background-image 0.25s ease;
	width: auto;
}
header a.resume:hover {
	background-image:	url("../images/icon-pdf-hover.svg");
	color: #73BA8E;
}
header.scrolling a.logo {
	background-color: #293241;
	background-image: url("../images/logo-light.svg");
}
header.scrolling a.resume {
	background-image:	url("../images/icon-pdf-dark.svg");
	color: #293241;
}
header.scrolling a.logo:hover {
	background-color: #73BA8E;
}
header.scrolling a.resume:hover {
	background-image:	url("../images/icon-pdf-hover.svg");
	color: #73BA8E;
}
body.home header a.logo {
	background-color: #293241;
	background-image: url("../images/logo-light.svg");
}
body.home header a.logo:hover {
	background-color: #73BA8E;
	background-image: url("../images/logo-light.svg");
}
body.home header a.resume {
	background-image:	url("../images/icon-pdf-dark.svg");
	color: #293241;
}
body.home header a.resume:hover {
	background-image:	url("../images/icon-pdf-hover.svg");
	color: #73BA8E;
}


.side-scroll {
	position: relative;
	float: left;
	height: 0;
	left: 10px;
	top: 100px;
	width: 140px;

}
.side-scroll.scrolling {
	position: fixed;
	float: none;
	left: 30px;
	top: 110px;
}

.side-scroll nav h2 {
	font-size: 18px;
	margin-bottom: 10px;
	padding-left: 10px;
}
.side-scroll nav a {
	height: 20px;
	cursor: pointer;
	display: block;
	font-size: 14px;
	margin-bottom: 10px;
	padding-left: 10px;
}
.side-scroll nav a:hover {
	color: #73BA8E;
}
.side-scroll nav a.active {
	border-left: 3px solid #85BCD8;
	padding-left: 7px;
}

section.intro {
	margin: 0 0 60px 0;
	padding: 150px 0 0 0;
}
section.intro h1,
section.intro p {
	/*background-color: rgba(0,0,100,0.25);*/
	display: block;
}
section.intro h1 {
	font-size: 48px;
	font-weight: 800;
	margin: 0 20px 20px 20px;
}
section.intro p {
	color: #929292;
	font-size: 24px;
	font-weight: 100;
	margin: 0 20px;
}

.project-block {
	background-color: #FFFFFF;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	float: left;
	margin: 0 20px 40px 20px;
	width: calc(50% - 40px);
}
.project-block .image {
	background-color: #293241;
	background-position: center bottom;
	background-size: 200%;
	background-repeat: no-repeat;
	height: 250px;
	width: 100%;
}
.project-block .summary {
	background-color: #FFFFFF;
	height: 80px;
	padding: 20px;
}
.project-block .summary h3 {
	font-size: 20px;
	font-weight: 700;
	margin: 0 0 10px 0;
}
.project-block .summary p.description {
	font-size: 14px;
	margin: 0 0 10px 0;
	line-height: 20px;
}
.project-block .summary p.client-info {
	display: none;
	font-size: 11px;
}
.project-block.announcements .image {
	background-image: url("../images/illustration_hero_announcements.svg");
}
.project-block.batched-reports .image {
	background-image: url("../images/illustration_hero_batched-reports.svg");
}
.project-block.global-search .image {
	background-image: url("../images/illustration_hero_global-search.svg");
}
.project-block.comms-ui .image {
	background-image: url("../images/illustration_hero_comms-ui.svg");
}
body.project-page .project-block {

	width: calc(33.333334% - 40px);
}
.project-block .summary {
	height: 100px;
}
body.project-page .project-block .image {
	background-size: 250%;
	height: 200px;
}
/* body.project-page .project-block .image {
		height: 225px;
}
body.project-page .project-block .summary {
		height: 100px;
} */
@media screen and (max-width: 900px) {
	.project-block {
			width: calc(50% - 40px) !important;
	}
	.project-block .image {
		background-size: 250%;
		height: 200px;
	}

}
@media screen and (max-width: 700px) {

}
@media screen and (max-width: 600px) {
	.project-block {
			width: calc(100% - 40px) !important;
	}
	.project-block .image {
		background-size: 200%;
		height: 250px;
	}
	header a.resume {
		background-image:	none !important;
		padding: 2px 0 4px 0 !important;
	}
	body.project-page .project-block .image {
		background-size: 250%;
		height: 200px;
	}
}

body.project-page section.hero {
	background-position: center bottom;
	background-size: 1480px 500px;
	background-repeat: no-repeat;
}
body.announcements section.hero{
	background-image: url("../images/illustration_hero_announcements.svg");
}
body.batched-reports section.hero{
	background-image: url("../images/illustration_hero_batched-reports.svg");
}
body.global-search section.hero{
	background-image: url("../images/illustration_hero_global-search.svg");
}
body.comms-ui section.hero{
	background-image: url("../images/illustration_hero_comms-ui.svg");
}
section.hero {
	background-color: #293241;
	height: 500px;
}
section.hero .content {
	/* width: 50%; */
	padding: 100px 0 0 0;
}
section.hero h1 {
	color: #FFFFFF;
	font-size: 48px;
	text-align: center;
	margin: 0 20px 20px 20px;
}
section.hero p {
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	margin: 0 20px 20px 20px;
}
@media screen and (max-width: 900px) {
	body.project-page section.hero {
		height: 400px;
		background-size: 1184px 400px;
	}
	body.project-page section.hero .content {
		/* padding: 80px 0 0 0; */
		width: 100%;
	}
	body.project-page section.hero h1 {
		font-size: 36px;
		margin: 0 20px 10px 20px;
	}
	section.hero p {
		font-size: 18px;
	}
}
@media screen and (max-width: 600px) {
	body.project-page section.hero {
		/* height: 300px;
		background-size: 888px 300px; */
	}
	body.project-page section.hero .content {
		/* padding: 65px 0 0 0; */
	}
	body.project-page section.hero h1 {
		font-size: 28px;
		margin: 0 20px 10px 20px;
	}
	section.hero p {
		font-size: 16px;
		display: none;
	}
}
section h2 {
	font-size: 34px;
	text-align: center;
	margin-bottom: 60px;
	padding-bottom: 18px;
	padding-top: 40px;
}
section h2 span.border {
	background-color: #85BCD8;
	display: block;
	height: 3px;
	margin: 0 auto;
	position: relative;
	top: 18px;
	width: 80px;
}
section#about .avatar {
	border-radius: 100%;
	display: block;
	height: 170px;
	margin: 0 auto 40px auto;
	width: 170px;
}
section#about .content {
	max-width: 720px;
}
section#about p {
	font-size: 18px;
	margin: 0 auto 20px auto;
	text-align: center;
	width: calc(100% - 40px);
}
section#about p:last-child {
	margin-bottom: 0;
}
section.project h2 {
	font-size: 34px;
	text-align: center;
	margin-bottom: 60px;
	padding-bottom: 18px;
	padding-top: 40px;
}
section.project h2 span.border {
	background-color: #85BCD8;
	display: block;
	height: 3px;
	margin: 0 auto;
	position: relative;
	top: 18px;
	width: 80px;
}
section.project h3 {
	font-size: 24px;
	margin-bottom: 20px;
}
section.project h4 {
	font-size: 20px;
	padding-top: 20px;
	margin-bottom: 10px;
}
section.project p {
	font-size: 16px;
	line-height: 32px;
	margin-bottom: 40px;
}
section.project ul {
	font-size: 16px;
	line-height: 32px;
	margin-bottom: 40px;
	padding-left: 20px;
}
section.project li {
	margin-bottom: 20px;
}
section.project img {
	background-color: #94989F;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	display:block;
	float: left;
	margin-bottom: 40px;
	width: calc(100% - 40px);
}
section.project a {
	color: #73BA8E;
}

section.project table {
	background-color: #FFFFFF;
	border: 1px solid #c7c7c7;
	border-collapse: collapse;
	margin-bottom: 40px;
	width: calc(100% - 40px);
}
section.project table thead {
	background-color: #DDDDDD;
	font-weight: bold;
}
section.project table tr {
	border-bottom: 1px solid #c7c7c7;
}
section.project table tr td {
	padding: 10px;
}
section.project table tr td.increase {
	color: green;
}
section.project table tr td.decrease {
	color: red;
}
@media screen and (max-width: 600px) {
	section.project table tr td.speed {
		display: none;
	}
	section.project table tr td.speed {
		display: none;
	}
}

section.project img.med {
	width: calc(50% - 40px);
}
section.project img.sm {
	width: calc(33.333334% - 40px);
}
section.project img.lg {
	float: none;
}
footer {
	padding: 90px 0 120px 0;
}
footer a.logo {
	background-image: url("../images/logo-dark.svg");
	background-position: center;
	background-size: 28px 35px;
	background-repeat: no-repeat;
	display: block;
	height: 35px;
	margin: 0 auto 0 auto;
	width: 28px;
}
footer p {
	font-style: italic;;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 40px;
}
footer span.border {
	background-color: #85BCD8;
	display: block;
	height: 3px;
	margin: 0 auto 40px auto;
	position: relative;
	width: 80px;
}
a.cta.secondary {
	background-color: transparent;
	border: 3px solid #73BA8E;
	color: #73BA8E;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	display: block;
	height: 20px;
	margin: 0 auto;
	padding: 15px 0;
	text-align: center;
	width: 196px;
}
section.overview {
	padding-top: 100px;
}
button.cta.secondary.jump-to-design {
	margin-bottom: 60px;
}

@media screen and (min-width: 1480px) {
	.content {
		width: 66.666667%;
	}
	.wrapper {
		padding: 0 20px;
	}
	.grid {
		/*display: none;*/
		/*height: 100%;
		position: fixed;
		left: 50%;
		margin-left: -740px;*/
		padding: 0 20px;
		left: 0;
		margin-left: 0;
		width:  calc(100% - 40px);
	}
	.column {
		width: 8.333334%;
	}
	.column .block {
		width: auto;
	}
	.column:first-child .block {
		margin-left: 20px;
	}
	.column:last-child .block {
		margin-right: 20px;
	}
}
@media screen and (min-width: 1880px) {
	.content {
		width: 1220px;
	}
}
@media screen and (max-width: 1000px) {
	.content {
		width: 100%;
	}
}
@media screen and (max-width: 1330px) {
	/*header {
		background-color: #FFFFFF;
		height: 90px
	}
	header a.logo {
		top: 20px;
	}
	header a.resume {
		top: 35px;
	}*/
	.side-scroll {
		left: -170px;
	}
	.side-scroll.scrolling {
		left: -170px;
	}
	header {
		/*background-color: #FFFFFF;*/

		height: 90px;
	}
	header.scrolling {
		background-color: #FFFFFF;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	}
	header a.logo {
		top: 20px;
	}
	header a.resume {
		top: 33px;
	}
}
