@import "bourbon/bourbon";

//// RESET
* {
	color: #323232;
	font-family: $helvetica;
	border: 0;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body { min-width: 960px; }

header.page-header {
	background-color: #000000;
	@include position(fixed, 0 null null 0);
	@include size(100% 60px);
	z-index: 1;
	h1 {
		color: #FFFFFF;
		font-size: 16px;
		font-weight: 200;
		height: 20px;
		line-height: 20px;
		margin: 0 10px;
	}
	.content {
		height: 20px;
		margin: 0 auto;
		padding: 20px 10px;
		position: static;
		width: 940px;
	}
}
.content {
	@include clearfix;
	height: 100%;
	margin: 0 auto;
	padding: 0 10px;
	position: fixed;
	width: 960px;
}
nav#mainNav {
	float: left;
	height: calc(100% - 120px);
	padding: 120px 0 0 0;
	margin: 0 10px;
	position: fixed;
	width: 140px;
	ul {
		list-style-type: none;
		li {
			display: block;
			a {
				cursor: pointer;
				display: block;
				font-size: 16px;
				font-weight: 200;
				height: 16px;
				padding: 10px;
				line-height: 16px;
				&.active { background-color: #EAEAEA; }
			}
		}
	}
}
#main {
	float: right;
	height: calc(100% - 60px);
	overflow: auto;
	padding: 60px 0 0 0;
	position: relative;
	//width: calc(100% - 160px);
	width:800px;
	&::-webkit-scrollbar {
		display: none;
	}
	.slider {
		position: relative;
		padding-bottom: 300px;
	}
	section {
		border-bottom: 1px solid #EAEAEA;
		margin: 0 10px;
		padding: 60px 0;
		&:last-of-type { border: 0; }
		h1 {
			color: #AEAEAE;
			font-size: 28px;
			font-weight: 600;
			margin: 0 0 40px 0;
		}
		.group {
			margin: 0 0 20px 0;
			@include clearfix;
			&:last-of-type { margin: 0; }
			> h2 {
				font-size: 14px;
				font-weight: 600;
				margin: 0 0 20px 0;
			}
		}
	}
	section#colors {
		padding: 60px 0 20px 0;
		article.color {
			float: left;
			margin: 0 0 20px 0;
			.color-block {
				margin: 0 20px 5px 0;
				@include size(100px 50px);
			}
			p { font-size: 12px; }
		}
	}
	section#fonts {
		p {
			margin: 0 0 10px 0;
		}
	}
}
